/* Set display to "block" */
.form-data label,
.form-data input {display: block;}

/* Set display to "flex" */
.data-flex,
.form-links {
    display: flex;
    justify-content: space-between;
}

/* Set cursor to "pointer" */
.form-links button,
.form-links p {
    text-transform: capitalize;
    cursor: pointer;
}

/* Align text to center */
.container-login header,
.form-data label,
.form-data input {text-align: center;}

/* LOGIN SCREEN */
.container-login {
    width: 800px;
    background-color: #f5f5f5;
    border: 3px solid #fb7d6f;
    margin: 25px auto 0 auto;
    border-radius: 14px;
}

/* Login header */
.container-login header {
    font-size: 30px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Login form */
form {margin-top: 20px;}

.form-data label {
    margin-bottom: 8px;
    font-size: 20px;
}

.form-data input {
    width: 60%;
    margin: 0 auto 40px auto;
    font-size: 20px;
    padding: 8px 0;
    border-radius: 8px;
    border: 1px solid #a8a8a8;
}

.data-flex {
    width: 60%;
    margin: 0 auto;
}

.data-flex input {width: 200px;}

.form-links {
    justify-content: space-around;
    margin-bottom: 30px;
}

.form-links button {
    background-color: #fb7d6f;
    color: #f5f5f5;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 10px;
    transition: .4s;
}

.form-links button:hover {background-color: #fc4450;}

.form-links p:hover {
    color: #fb7d6f;
    text-decoration: underline;
}