* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: #F6ECC8;
    font-family: Arial, sans-serif;
}

/* All links */
a {text-decoration: none;}


/* Set all displays of these elements to flex */
#container-index header,
.data-flex,
.form-links,
.column {
    display: flex;
    justify-content: space-between;
}

header,
footer,
.form-links button {
    background-color: #fb7d6f;
    color: #f5f5f5;
}

/* Container */
#container-index {
    background-color: #f5f5f5;
    width: 75%;
    margin: 10px auto 0 auto;
    border: 3px solid #fb7d6f;
}

/* Header */
#container-index header {padding: 15px 20px;}

#container-index header a {color: #f5f5f5;}

/* Logo */
#container-index header a.logo {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Menu options */
#container-index header li {
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 2.5%;
}

header li.ativo,
header li.list-item:hover {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 2px;
}

header li.list-item {margin-left: 20px;}

/* Login buttom */
header button {
    margin-left: 30px;
    font-size: 18px;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fc4450;
    color: #f5f5f5;
    transition: background-color .4s;
}

header button:hover {background-color: #ec3f4b;}

section,
aside {margin: 25px 0;}

/* Main section */
section {
    border-right: 1px solid #fc4450;
    width: 65%;
    float: left;
}

/* Cards */
.card {
    width: 48%;
    margin: 0 5px 20px 5px;
}

.card img {
    display: block;
    margin: 0 auto;
    border: 1px solid #c4c4c4;
    padding: 6px;
    width: 70%;
}

.card h3 {
    text-align: center;
    font-size: 20px;
    margin: 12px 0;
}

.card p {
    margin-bottom: 15px;
    font-size: 16px;
    padding: 0 5px;
}

.card a {
    padding-left: 5px;
    font-size: 15px;
    color: #fc4450;
}

.card a:hover {
    color: #fb7d6f;
    text-decoration: underline;
}

/* Side section */
aside {
    width: 30%;
    float: right;
}

aside a {
    display: block;
    color: black;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    transition: .4s;
}

aside a:hover {color: #fc4450;}

/* Footer */
footer {
    clear: both;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
}

/* LOGIN SCREEN */
.container-login {
    width: 60%;
    background-color: #f5f5f5;
    border: 3px solid #fb7d6f;
    margin: 25px auto 0 auto;
    border-radius: 14px;
}

/* Login header */
.container-login header {
    font-size: 30px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Login form */
form {margin-top: 20px;}

.form-data label {
    display: block;
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
}

.form-data input {
    display: block;
    width: 60%;
    margin: 0 auto 40px auto;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    border: 1px solid #a8a8a8;
}

.data-flex {
    width: 60%;
    margin: 0 auto;
}

.data-flex input {width: 200px;}

.form-links {
    justify-content: space-around;
    margin-bottom: 30px;
}

.form-links button {
    text-transform: capitalize;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 10px;
    cursor: pointer;
    transition: .4s;
}

.form-links button:hover {background-color: #fc4450;}

.form-links p {
    cursor: pointer;
    text-transform: capitalize;
}

.form-links p:hover {
    color: #fb7d6f;
    text-decoration: underline;
}