* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: #f6ecc8;
    font-family: Arial, sans-serif;
}

/* All links */
a {text-decoration: none;}

/* Set the color of the background and font */
header,
header button,
footer {
    background-color: #fb7d6f;
    color: #f5f5f5;
}

/* Set display to "block" */
.card img,
aside a {display: block;}

/* Container */
#container-index {
    background-color: #f5f5f5;
    width: 75%;
    margin: 10px auto 0 auto;
    border: 3px solid #fb7d6f;
}

/* Header */
#container-index header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

#container-index header a {color: #f5f5f5;}

/* Logo */
#container-index header a.logo {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* Menu options */
header li {
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 2.5%;
}

header li.ativo,
header li.list-item:hover {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 2px;
}

header li.list-item {margin-left: 20px;}

/* Login button */
header button {
    margin-left: 30px;
    font-size: 18px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fc4450;
    transition: background-color .4s;
}

header button:hover {background-color: #ec3f4b;}

section,
aside {margin: 25px 0;}

/* Main section */
section {
    border-right: 1px solid #fc4450;
    width: 65%;
    float: left;
}

.column {
    display: flex;
    justify-content: space-between;
}

/* Cards */
.card {
    width: 48%;
    margin: 0 5px 20px 5px;
}

.card img {
    margin: 0 auto;
    border: 1px solid #c4c4c4;
    padding: 6px;
    width: 70%;
}

.card h3 {
    text-align: center;
    font-size: 20px;
    margin: 12px 0;
}

.card p {
    margin-bottom: 15px;
    font-size: 16px;
    padding: 0 5px;
}

.card a {
    padding-left: 5px;
    font-size: 15px;
    color: #fc4450;
}

.card a:hover {
    color: #fb7d6f;
    text-decoration: underline;
}

/* Side section */
aside {
    width: 30%;
    float: right;
}

aside a {
    color: black;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    transition: .4s;
}

aside a:hover {color: #fc4450;}

/* Footer */
footer {
    clear: both;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
}